:root {
  --body-color: #F0F0F6;
  --primary-color: #fa7509f8;
}

body {
  background-color: var(--body-color);
}

.banner {
  background-color: white;
  padding: 30px 50px 0px;
}

.banner h1 span {
  color: var(--primary-color);
}

.banner .icon-Hire-me-1 {
  font-size: 48px;
}

.services {
  padding-top: 60px;
}

.services .services__box {
  padding: 20px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services__box span {
  font-size: 55px;
  color: var(--primary-color);
}

.services .services__box .services__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.services .services__box a {
  text-decoration: none;
}

.pricePlans {
  padding-top: 60px;
}

.pricePlans .pricePlans__box {
  padding-bottom: 30px;
}

.pricePlans .pricePlans__box .topTitle {
  visibility: hidden;
}

.pricePlans .pricePlans__box .popular {
  background-color: var(--primary-color);
  padding: 10px;
  width: 100%;
}

.pricePlans .pricePlans__title .type {
  font-size: 1.2rem;
  font-weight: bold;
}

.pricePlans .pricePlans__title .price {
  font-size: 1.6rem;
  font-weight: bold;
}

.pricePlans ul {
  list-style: none;
}

.pricePlans ul li {
  text-align: left;
  margin-right: 20px;
}

.pricePlans ul li .icon-Check {
  color: var(--primary-color);
  margin-right: 20px;
}

.pricePlans ul li .icon-Close {
  color: black;
  margin-right: 20px;
}

.pricePlans .icon-Order-now {
  -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
}

.pricePlans button {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  padding: 10px 50px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
}

.pricePlans .icon-Order-now {
  font-size: 60px;
}

.recommendation {
  padding-top: 60px;
}

.recommendation .title {
  font-weight: bold;
}

.recommendation .icon-Star {
  color: var(--primary-color);
  margin: 0 3px;
}

.recommendation .name {
  font-weight: bold;
}

.education, .workHistory, .portfolio, .blog, .contact, .map, .logo {
  padding-top: 60px;
}

.portfolio ul {
  list-style: none;
}

.portfolio ul li {
  margin: 10px 20px;
}

.portfolio ul li a {
  text-decoration: none;
  color: #000;
}

.portfolio ul li a:hover {
  color: var(--primary-color);
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.portfolio ul li .active {
  color: var(--primary-color);
}

.portfolio .portfolio__box {
  position: relative;
}

.portfolio .portfolio__box:hover {
  cursor: pointer;
}

.portfolio .portfolio__box:hover .overlay {
  opacity: 0.8;
}

.portfolio .portfolio__box figure img {
  width: 100%;
  height: 100%;
}

.portfolio .portfolio__box .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.portfolio .portfolio__box .overlay p {
  font-size: 3.5rem;
  font-weight: bold;
}

.blog .blog__box img {
  width: 100%;
}

.blog .blog__box .blog__box--details {
  padding: 10px 20px;
}

.blog .blog__box .blog__box--details .title {
  font-weight: bold;
  margin-top: 20px;
}

.blog .blog__box .blog__box--details .icon-Learn-more {
  font-size: 20px;
}

.contact form {
  margin-top: 10px;
}

.contact form .form-group {
  padding: 10px 20px;
}

.contact form .form-group textarea {
  resize: none;
}

.contact form .form-group .icon-Send-Message {
  font-size: 33px;
}

.contact .info .box {
  margin-bottom: 10px;
  padding: 15px;
}

.contact .info .box .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0 25px;
}

.contact .info .box .icon span {
  font-size: 25px;
  border-radius: 50%;
  background-color: var(--primary-color);
  padding: 10px;
}

.contact .info .box .list li {
  list-style-type: none;
}

.map {
  width: 100%;
}

.map img {
  width: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .banner {
    padding-bottom: 20px;
  }
  .banner .banner-left span {
    font-size: 2.5rem;
  }
  .banner .banner-right img {
    width: auto;
    height: 350px;
  }
  .services .services__box {
    font-size: calc(100% - 20%);
  }
  .pricePlans .pricePlans__box {
    font-size: calc(100% - 10%);
  }
  .pricePlans .pricePlans__box ul li {
    font-size: calc(100% - 10%);
  }
  .pricePlans .pricePlans__box .btn-Order-now {
    font-size: .9rem;
  }
  .pricePlans .pricePlans__box .icon-Order-now {
    font-size: 3rem;
  }
  .recommendation .profile img {
    height: 60px;
  }
  .education .education__box .date, .workHistory .education__box .date {
    display: block;
    margin-left: -20px;
  }
  .contact .box .list li {
    font-size: .8rem;
  }
}

@media screen and (max-width: 567px) {
  .banner .banner-right {
    display: none;
  }
  .portfolio ul li {
    font-size: .7rem;
  }
  .education .education__box .date, .workHistory .education__box .date {
    display: inline-block;
  }
  .contact .info .box .list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .contact .info .box .list .info {
    margin-left: -25px;
  }
  .logo img {
    width: 60px;
  }
}
/*# sourceMappingURL=style.css.map */